body {
    background-image: url(../imagenes/textura-navbar-top1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topnav-bar {
     background-color: #5A5A5A !important;
}

.carousel {
    margin-top: 0px;
    padding: 0;
}

.mid-items {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    text-align: center;
    margin: 25px;
    padding: 0;
    margin-top: 50px;
}

h3 {
    text-align: center;
    margin-top: 2.5rem;
}

.texto-productos {
    padding: 10px;
    color: white;
    text-shadow: 2px 2px black;
    box-sizing: border-box;
    box-shadow: 2px 2px grey;
}

.boton-h3 {
    box-sizing: border-box;
    background-color: gray;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px black;
}

.card {
    box-shadow: 1px 1px grey;
}

.footer {
    margin-top: 100px;
}

/* Atencion al cliente */

.contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: grey;
    padding-left: 30px;
    box-shadow: 3px 4px 4px #5A5A5A;
}

input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: aqua;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: aqua;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

span {
    color: aqua;
}

.envios {
    text-align: center;
    text-shadow: 3px 3px 4px #717171;
    margin-top: 150px;
}

.quejatecontumama {
    box-sizing: border-box;
    margin-left: 500px;
    margin-top: 100px;
    width: 900px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #717171;
}

.cards-productos {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    padding: 15px;
}